---
---

<nav style="background:#333; padding:1rem;">
    <a href="/" style="color:white; margin-right:1rem; text-decoration:none;">Hjem</a>
    <a href="/about" style="color:white; margin-right:1rem; text-decoration:none;">Om meg</a>
    <a href="/projects" style="color:white; margin-right:1rem; text-decoration:none;">Prosjekter</a>
    <a href="/cv" style="color:white; text-decoration:none;">CV</a>
  </nav>
  